# Empty lines		Ignored
# # 				Comment
# : 				Write this file
# ~					Architecture independent include
# !					Architecture dependent include
# ~+				Architecture independent include which gets parsed for internal hooks
# !+				Architecture dependent include which gets parsed for internal hooks
# ? SYMBOL			If SYMBOL then parse following commands
# ?					End If
# %					Code hook

# In code snippets:

# //? happy			if 
# //?				end if
#
# //+ a_hook		fire hook 'a_hook'

:	app_dep_osek_defs.h
~+	app_dep_osek_defs_h.snt

:	os.h
~+	os_h.snt

:	os.cc
~+	os_cc.snt
