dissertacao/tese_rita.aux
dissertacao/tese_rita.bbl
dissertacao/tese_rita.blg
dissertacao/tese_rita.las
dissertacao/tese_rita.lof
dissertacao/tese_rita.log
dissertacao/tese_rita.lot
dissertacao/tese_rita.toc

papers/*
Banca
Banca~
makefile~


